BasedOnStyle: LLVM
ColumnLimit: 90

# Tab/space

IndentWidth: 2
TabWidth: 8
UseTab: Never

# Indentation

AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None
ContinuationIndentWidth: 2

# Line breaks

AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: None

# Templates

BreakTemplateDeclarations: Yes

# Lambdas.

LambdaBodyIndentation: Signature
AllowShortLambdasOnASingleLine: true

# Alignment

PointerAlignment: Left
ReferenceAlignment: Left
AlignEscapedNewlines: LeftWithLastLine

# Include sorting

SortIncludes: true
IncludeBlocks: Preserve
